h2  {
  text-align: center;
  margin-bottom: 30px;
}

.champions-info {
  display: grid; 
  padding: 10px; 
  gap: 20px;
}

.champion {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background: rgba(70, 158, 246, 0.2);
  border-radius: 5px;
}

.champion>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.champion .card-intro h4 {
  font-size: 1.5rem;
  color: var(--primary-color)
}

.champion .card-intro img {
  max-width: 200px;
}

.card-description ul.card-stats {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-description ul.card-stats li {
  background: var(--primary-color);
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}

.card-description ul.card-stats li b {
  font-weight: 500;
}
.card-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-description .special-ability {
  background: rgba(255, 255, 255, .7);
  padding: 10px;
  border-radius: 5px;
  color: var(--primary-color)
}

.card-description .special-ability h5 {
  font-size: 1.2rem;
  margin: 0;
  color: var(--primary-color)
}
